/* ************************************************************************************************************************ */
/* all ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* body{ 
  background-color: #0b3b69; 
  background-color: #36c389; 
  background-color: white; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black; 
} */

/* 
orange - #ff8566
green - #36c389
yellow - #ffc673
navy - #0b3b69
white - #ffffff 
*/

/* ************************************************************************************************************************ */
/* join page - entire thing *********************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.join-wrapper{
  /* height: 100vh; */
  width: 100%;
  height: 100%; 
  /* display: flex;  */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #0b3b69;  */
  background-color: #36c389; 
  /* background-color: #ff8566; */
  /* background-color: #7CA091;  */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  color: black; 
}

.join-container{
  /* background-color: #289065;  */
  /* background-color: #438D6F;  */
  /* background-color: #36c389; */
  background-color: #ff8566; 
  /* height: 800px; */
  /* position: relative; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: #ffc673;  */
  width: 55%; 
  height: auto;
  display: flex; 
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  margin: 10px auto 5% auto;
  border-radius: 10px; 
  text-align: center; 
  box-shadow: 0px 10px 50px #555;
}

.join-form-wrapper{
  /* background-color: #ffffff; 
  background-color: #619B8A; */
  /* background-color: #ffc673; */
  background-color: #ff8566;
  margin: 1px 10px 10px 15px; 
  /* padding: 10px;  */
  border-radius: 10px; 
}

/* ------------------------------------------------------------ */

/* h1 tag - main heading */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.titleJoinMeeting{
  /* padding: 15px;  */
  /* background-color: #ffc673; */
  background-color: #ff8566; 
  /* background-color: #ffffff;  */
  color: black; 
  text-align: center;
  /* font-family: 'Bangers', cursive;  */
  font-size: 80px; 
  /* font-weight: bolder;  */
}

/* h1{
  font-size: 50px;
  text-align: center; */ 
  /* margin-top: 20px;
  margin-bottom: 20px; */
  /* color: #0b3b69; */
/* } */

/* ------------------------------------------------------------ */

/* h2 tags - the smaller headings */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.subtitleJoinMeeting{
  font-size: 50px; 
  padding: 15px; 
  font-size: 35px;
  text-align: center;
  color: black; 
  margin: 2% auto 2% auto; 
  font-weight: bold; 
  border-bottom: 1px solid rgb(61, 61, 61); 
  /* background-color: #ffc673;  
  background-color: #ff8566;  
  background-color: #ffffff; */
  background-color: #ff8566; 
  /* background-color: aquamarine; */
  /* margin-left: 20px;  */
  /* margin-top: 20px; */
}


/* ------------------------------------------------------------ */

/* row one things */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* .rowOne{
  background-color: #ff8566; 
  background-color: #ffffff; 
}

.meetingName{
  background-color: #438D6F;
  background-color: #ff8566; 
  background-color: #ffffff; 
  background-color: #ffc673; 
  width: 80%;
  min-height: 200px;
  display: inline-block;
  border-radius: 10px; 
  margin: 1% 10px 1% 10px;
  text-align: center;
  font-size: 20px; 
}

button{
  width: 100px;
  text-align: center;
  margin-top: 30px;
}

.btn{
  background-color: #0b3b69; 
  width: auto; 
  border: solid 1px #0b3b69;
}
.btn:hover{
  background-color: #ff8566;
} */

/* ------------------------------------------------------------ */

/* row two things */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.rowTwo{
  /* background-color: #0b3b69;  */
  background-color: #ff8566; 
  /* background-color: #ffffff;  */
  /* background-color: #ffc673; */
}

.meetingActive{
  /* background-color: #438D6F; */
  /* background-color: #ff8566;  */
  /* background-color: #ffffff;  */
  background-color: #fec547; 
  /* background-color: #36c389; */
  width: 80%;
  min-height: 300px;
  margin: 1% 10px 1% 10px;
  display: inline-block;
  border-radius: 10px; 
  text-align: center;
  font-size: 18px; 
}

/* ------------------------------------------------------------ */

/* row three things */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.rowThree{
  /* background-color: #ffffff; 
  background-color: #ffc673;  */
  background-color: #ff8566; 
  min-height: 200px; 
}

.meetingHosted{
  background-color: #fec547;
  /* background-color: #36c389; */
  width: 80%;
  min-height: 150px;
  margin: 1% 10px 2% 10px;
  display: inline-block;  
  border-radius: 10px; 
  text-align: center;
  font-size: 18px; 
}

p{
  padding: 10px; 
}