/* ************************************************************************************************************************ */
/* all ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}

body{ 
  /* background-color: #0b3b69;  */
  /* background-color: #36c389;  */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* background-color: #7CA091;  */
  color: black; 
}

/* 
orange - #ff8566
green - #36c389
yellow - #ffc673
navy - #0b3b69
white - #ffffff 
*/

/* ************************************************************************************************************************ */
/*  ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* h1{
  font-size: 50px;
  text-align: center; */ 
  /* margin-top: 20px;
  margin-bottom: 20px; */
  /* color: #0b3b69; */
/* } */

.join-container{
  /* background-color: #289065;  */
  /* background-color: #438D6F;  */
  /* background-color: #ffc673; */
  /* height: 800px; */
  /* position: relative; */
  /* display: flex; */
  background-color: #36c389;
  width: 70%; 
  height: auto;
  /* margin: 5% auto 5% auto; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.titleMeeting{
  text-align: center;
  color: black; 
  font-weight: bolder; 
  font-size: 90px; 
  padding: 15px; 
}

.meetingName{
  width: 50%;
  height: 200px;
  background-color: #438D6F;
  display: inline-block;
}

label{
  font-size: 30px; 
}

form{
  text-align: center;
  margin: 5% 10px 2% 5%;
}

button{
  width: 100px;
  text-align: center;
  margin-top: 30px;
}
.btn{
  background-color: #0b3b69; 
  width: auto; 
  border: solid 1px #0b3b69;
}
.btn:hover{
  background-color: #ff8566;
}

h2{
  font-size: 40px;
  text-align: left;
  color: black; 
  margin: 2% auto 2% auto; 
  font-weight: bold; 
  /* margin-left: 20px;  */
  /* margin-top: 20px; */
}

.meetingActive{
  width: 50%;
  height: 200px;
  background-color: #438D6F;
  /* display: inline-block;  */
}

/* li{
  margin-left: 30px; 
  font-size: 20px; 
} */