/* ************************************************************************************************************************ */
/* all ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body{
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5; 
  color: #333333;
  text-decoration: none; 
} */

/* ************************************************************************************************************************ */
/* create account page **************************************************************************************************** */
/* ************************************************************************************************************************ */


/* ------------------------------------------------------------ */

/* wrapper: essentially the entire page */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #619B8A; 
  /* background-color: #0B5351;  */
}


.login-header {
  font-weight: lighter;
  font-size: 75px;
}

/* ------------------------------------------------------------ */

/* form wrapper: dimensions of actual form */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* .form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px; 
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff; 
} */

.form-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px 60px 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
 }

/* ------------------------------------------------------------ */

/* form: the actual form that the create stuff is on */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

form{
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
}

/* ------------------------------------------------------------ */

/* h1: the "create account" heading */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

h1 {
  text-align: center; 
  width: 100%;
  padding: 5px; 
  color: #4A7C59;
  font-weight: lighter;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  */
}

/* ------------------------------------------------------------ */

/* Label: the text portions */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222; 
  font-weight: lighter;
}

/* ------------------------------------------------------------ */

/* input: where you input your data */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

input{
  padding: 10px 10px;
  border-radius: 5px; 
  outline: none; 
  border: 1px solid #cfcfcf; 
}

input.placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

/* input.error {
  border: 1px solid red; 
}

.errorMessage{

} */

/* ------------------------------------------------------------ */

/* className */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.firstName,
.lastName,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; 
}

.firstName {
  margin-right: 1%; 
}

.lastName {
  margin-left: 1%; 
}

.firstName,
.lastName{
  width: 49%; 
}

.email,
.password {
  width: 100%;
}

/* ------------------------------------------------------------ */

/* create account: button to enter inputs */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  background-color: #519e8a;
  /* color: #999; */
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-bottom: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

/* ------------------------------------------------------------ */

/* external login: logging in with linkedin or google */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.externalLogin {
  width: 100%;
  /* background-color: #519e8a; */
  display: flex;
  flex-direction: column;
}

.linkedInLogin {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 47%;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  /* margin-right: 1%;  */
  align-items: center;
  text-align: center; 
}

.googleLogin {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 47%;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em; 
  /* margin-left: 1%;  */
  align-items: center;
  text-align: center; 
}

.externalLogin a:link{
  color: #000000;
  text-decoration: none; 
}
.externalLogin a:visited{
  color: #fff;
  text-decoration: none; 
}



/* ************************************************************************************************************************ */
/* ************************************************************************************************************************ */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */