/* ************************************************************************************************************************ */
/* all ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body{
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5; 
  color: #333333;
  text-decoration: none; 
} */

/* ************************************************************************************************************************ */
/* notes section *************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.notes {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 0.8;
  background-color: #7A9CC6;
}

.notes__input {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: #9FBBCC; 
}

.notes__input--title {
  margin-bottom: 1rem;
  font-size: 1.5em;
  background-color: #B3D2B2; 
}

.notes__input--text {
  flex-grow: 1;
  line-height: 1.5;
  background-color: #BDE4A7; 
}


