/* 
orange - #ff8566
green - #36c389
yellow - #ffc673
navy - #0b3b69
white - #ffffff 
*/

/* body{
    background-color: #36c389; 
    position: relative;
} */

.container-fluid{
    text-align: center;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0b3b69;
}

/* .jumbotron{
    width: 40%;
    height: 80vh;
    height: 40vh;
    display: inline-flex;
}
.jumbotron-1 {
    background-color: #ffc637;
}

.jumbotron-2 {
    background-color: #ff8566;
} */

.section1{
    width: 40%;
    height: 80vh;
    height: 40vh;
    display: inline-flex;
    background-color: #ffc637;
}

.section2{
    width: 40%;
    height: 80vh;
    height: 40vh;
    display: inline-flex;
    background-color: #ff8566;
}

h2{
    color: #0b3b69;
    text-align: center;
    margin: 20px; 
    /* padding: 10px;  */
}


.btn{
    background-color: #36c389;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #0b3b69;
    color: white;

}
/* .btn-join{
    border-radius: 10px;
} */
/* .btn-create{
    border-radius: 30px;
} */