/* ************************************************************************************************************************ */
/* all ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 
orange - #ff8566
green - #36c389
yellow - #ffc673
navy - #0b3b69
white - #ffffff 
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* body{
    background-color: #36c389; 
    background-color: #496469; 
    position: relative;
} */

/* ************************************************************************************************************************ */
/*  ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/* container-fluid - refers to the row portion where the sections are */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.container-fluid{
    text-align: center;
    margin: 2% auto 2% auto;
    /* display: inline-flex;  */
}

/* ************************************************************************************************************************ */
/* sections ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */ 

.sectionTitle{
    /* display: inline; */
    color: #0b3b69;
    text-align: center;
    margin: 10% 20% 5% 20%; 
    /* margin: 15%;  */
    font-weight: bolder;
    font-size: 40px;
}

.section3Title{
    /* display: inline; */
    /* color:#ffffff; */
    color: #eeeeee;
    text-align: center;
    margin: 10% 20% 5% 20%; 
    /* margin: 15%;  */
    font-weight: bolder;
    font-size: 40px;
}

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */ 

.section1{
    width: 36%;
    /* height: 43vh; */
    height: 47vh;
    display: inline-flex;
    /* text-align: center; */
    background-color: #fec547;
    margin: 2px; 
}

.section2{
    width: 36%;
    /* height: 43vh; */
    height: 47vh;
    display: inline-flex;
    /* text-align: center; */
    background-color: #ff8566;
    /* border: white 2px solid; */
    /* margin: 5px 5px 5px 5px; */
    /* margin: 10%; */
    margin: 2px; 
}
.section3{
    width: 36%;
    /* height: 43vh; */
    height: 47vh;
    display: inline-flex;
    /* text-align: center; */
    background-color: #0b3b69;
    margin: 2px; 
}

.section4{
    width: 36%;
    /* height: 43vh; */
    height: 47vh;
    display: inline-flex;
    /* text-align: center; */
    background-color: #36c389;
    margin: 2px; 
}

/* ************************************************************************************************************************ */
/* buttons ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/* all buttons */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */ 

.btnHome{
    /* background-color: #36c389; */
    /* border: 2px solid #0b3b69; */
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    overflow: hidden;
    margin: 500% 50px 0 -80px;
    /* margin: 150px 50px 10px -200%; */
    border-radius: 10px; 
}

/* ------------------------------------------------------------ */

/* join button */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */ 

.btnHome.btn-join-meeting{
    background-color: #0b3b69;
    border-color: #0b3b69;
}

.btnHome.btn-join-meeting:hover{
    background-color: #ffc637;
}

/* ------------------------------------------------------------ */

/* create button */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */ 

.btnHome.btn-create-meeting{
    background-color: #36c389;
    border-color: #36c389;
}

.btnHome.btn-create-meeting:hover{
    background-color: #ff8566;
}

/* ------------------------------------------------------------ */

/* organization button */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */ 

.btnHome.btn-organization{
    background-color: #f7c756;
    border-color: #f7c756;
    color:black;
}

.btnHome.btn-organization:hover{
    background-color: #0b3b69;
    color: white;
}

/* ------------------------------------------------------------ */

/* invitation button */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */ 

.btnHome.btn-invitation{
    background-color: #ff8566;
    border-color: #ff8566;
}

.btnHome.btn-invitation:hover{
    background-color: #36c389;
}