/* ************************************************************************************************************************ */
/* all ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 
orange - #ff8566
green - #36c389
yellow - #ffc673
navy - #0b3b69
white - #ffffff 
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body{
    background-color: #496469; 
}
/* body{
    background-color: #36c389; 
    position: relative;
} */

/* ************************************************************************************************************************ */
/*  ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/* container-fluid - refers to the row portion where the sections are */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.container-fluid{
    text-align: center;
    margin-bottom: 30px;
}

/* ************************************************************************************************************************ */
/* sections ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */ 

h2{
    /* font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; */
    color: #0b3b69;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    margin: 30px; 
    text-align: center;
        /* padding: 10px;  */
}

.sectionTitle{
    text-align: center;
    margin-left: 20%;
}

.section3Title{
    color:white;
    text-align: center;
    margin-left: 20%;
}

.section1{
    width: 36%;
    height: 43vh;
    display: inline-flex;
/*     background-color: #ffc637; */
    background-color: #fec547;
    border: white 2px solid;
    margin: 5px 5px 5px 5px;
    text-align: center;
}

.section2{
    width: 36%;
    height: 43vh;
    display: inline-flex;
    background-color: #ff8566;
    border: white 2px solid;
    margin: 5px 5px 5px 5px;
    text-align: center;
}
.section3{
    width: 36%;
    height: 43vh;
    display: inline-flex;
    background-color: #0b3b69;
    color:white;
    border: white 2px solid;
    margin: 5px 5px 5px 5px;
}

.section3Title{
    color:white;
    text-align: center;
}

.section4{
    width: 36%;
    height: 43vh;
    display: inline-flex;
    background-color: #36c389;
    border: white 2px solid;
    margin: 5px 5px 5px 5px;
    text-align: center;
}

/* ************************************************************************************************************************ */
/* buttons ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */ 

.btnHome{
    background-color: #36c389;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid #0b3b69;
    color: white;
    border-radius: 10px; 
    margin: 500% 50px 0 -80px;
}

.btnHome.btn-join-meeting{
    background-color: #0b3b69;
    border-color: #0b3b69;
}

.btnHome.btn-join-meeting:hover{
    background-color: #ffc637;
}

.btnHome.btn-create-meeting{
    background-color: #36c389;
    border-color: #36c389;
}

.btnHome.btn-create-meeting:hover{
    background-color: #ff8566;
}

.btnHome.btn-organization{
    background-color: #f7c756;
    border-color: #f7c756;
    color:black;
}

.btnHome.btn-organization:hover{
    background-color: #0b3b69;
    color: white;
}

.btnHome.btn-invitation{
    background-color: #ff8566;
    border-color: #ff8566;
}

.btnHome.btn-invitation:hover{
    background-color: #36c389;
}

/* .btn-join{
    border-radius: 10px;
} */
/* .btn-create{
    border-radius: 30px;
} */