.organization-form-wrapper{
    display:flex;
    flex-direction: column;
    min-height: 350px; 
}

.org-form-header{
    align-self: flex-start;
    font-size: 40px; 
    color: #ffffff;
    margin-left: -10px; 
}

.org-create-form,
.org-join-form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 94%;
    height:100%;
    border-radius:20px;
}

.org-create-form {
    background-color: #fec547;
    margin-top: 10px;
}

.org-join-form{
    background-color: #ff8566;
}
.org-form-submit{
    width:100px;
    height: 50px;
    border-radius:10px;
    float: left;
    font-size: 15px;
}
.org-form-input-wrapper{
    padding: 5px;
    color: #ffffff;
    font-size: 16px; 
    font-weight: bold;
}
.org-form-input{
    margin-left:10px;
}
.org-form-input.text-input{
    width:300px;
    height:40px;
}

span{
    font-size: 15px; 
    padding: 5px; 
}