/* ************************************************************************************************************************ */
/* all ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5; 
  color: #333333;
  text-decoration: none; 
}

/* ************************************************************************************************************************ */
/* create meeting page **************************************************************************************************** */
/* ************************************************************************************************************************ */


/* ------------------------------------------------------------ */

/* wrapper: essentially the entire page */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 
h1{
  font-size: 72px; 
} */

form{
  margin: 20px; 
  padding: 30px; 
}