/* ************************************************************************************************************************ */
/* all ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body{
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5; 
  color: #333333;
  text-decoration: none; 
} */

/* ************************************************************************************************************************ */
/* create meeting page **************************************************************************************************** */
/* ************************************************************************************************************************ */


/* ------------------------------------------------------------ */

/* wrapper: essentially the entire page */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 
h1{
  font-size: 72px; 
} */

/* form{
  margin: 20px; 
  padding: 30px; 
} */

body{
  background-color: #ff8566; 
}

.create-wrapper{
  /* height: 100vh; */
  width: 100%;
  height: auto;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff8566; 
  margin-top: -30px; 
  /* background-color: #36c389;  */
  /* background-color: #0B5351;  */
}

.create-form-wrapper{
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff; 
  margin-top: 15px; 
  margin-bottom: 15px; 
}

.create-title{ 
  font-size: 65px;
  text-align: center; 
  width: 100%;
  /* padding: 10px 1px 15px;  */
  padding: 10px; 
  margin: 5px; 
  /* color: #4A7C59; */
  /* font-weight: lighter; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.create-form{
  width: 90%;
  align-items: center;
  margin: 5px 25px 5px 15px; 
  align-content: center;
}