/* ************************************************************************************************************************ */
/* all ******************************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/*  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body{
  background-color: #ffc673;
  line-height: 1.5; 
  color: #333333;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none; 
} */

/* 
MAIN COLORS
orange - #ff8566
green - #36c389
yellow - #ffc673
navy - #0b3b69
white - #ffffff 
*/

/* ************************************************************************************************************************ */
/* app section ********************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/* app section in the meeting page itself (basically all the sections) */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 
body{
  background-color: #0b3b69;
} */

.mainApp{
  /* margin-top: -30px;  */
  min-height: 700px; 
}

/* ************************************************************************************************************************ */
/* time section ********************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/* times */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.timeSection{
  width: 100%;
  height: 50px; 
  /* margin-top: -30px; */
  padding-bottom: 10px; 
  background-color: #496469;
  /* background-color: #496469; */
  color: #efefef;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-style: bolder;
}

.timeStart{
  width: 33%;
  float: left;
  text-align: left;
}

.timeDuration{  
  width: 33%;
  float: left;
  text-align: center;
}

.timeLeft{
  width: 33%;
  float: left;
  text-align: right;
}

/* ************************************************************************************************************************ */
/* notes section ********************************************************************************************************** */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/* notes section in the meeting page */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.notes {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 0.8;
  background-color: #36c389;
  width: 33%; 
  /* height: 100%; */
  min-height: 700px; 
  float: right;
}

.notes__input {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border: none;
  /* background-color: #9FBBCC;  */
  /* background-color: #7A9CC6; */
}

.notesTitle{
  background-color: #36c389; 
}

.notes__input_text {
  /* flex-grow: 1; */
  padding: 1px;
  line-height: 1.5;
  min-height: 600px;
  /* background-color: #9FBBCC;  */
  /* background-color: #B3D2B2;  */
  background-color: #BDE4A7; 
  /* background-color: #7A9CC6; */
}

/* ************************************************************************************************************************ */
/* agenda section ********************************************************************************************************* */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/* agenda section in the meeting page */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.agendaWrapper{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 0.8;
  background-color: #ff8566;
  width: 33%; 
  /* height: 100%; */
  min-height: 700px; 
  border-bottom: 1px solid #efefef;
  text-align: left;
  margin-bottom: 10px;
  float: left;
}

.agendaTitle{
  background-color: #ff8566;
}

.agendaList{
  background-color: #B3D2B2; 
}

.agendaInput{
  background-color: #36c389;
}

/* button {
  outline: none;
  box-shadow: none; */
  /* border-width: 2px; */
  /* border-radius: 3px;
  border-style: solid; */
  /* padding: 8px; */
  /* margin: 5px;
  width: 40px;
  height: 40px;
  align-self: right;
  float: right;
  text-align: center; */
  /* color: #7A9CC6;
  border-color: #7A9CC6; */
  /* background-color: #36c389;
} */

/* ************************************************************************************************************************ */
/* chat section ********************************************************************************************************* */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/* chat section in the meeting page */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.chatWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 0.8;
  /* background-color: #0b3b69; */
  background-color: #fec547;
  width: 34%; 
  /* height: 100%; */
  min-height: 700px; 
  border-bottom: 1px solid #efefef;
  text-align: left;
  margin-bottom: 10px;
  /* float: center; */
}

.chatTitle {
  background-color: #0b3b69;
  background-color: #fec547;
  color: #efefef;
}

.chatList {
  background-color: #efefef;
  color: #0b3b69;
  margin: 5px;

}

.chatInput {
  padding-top: 15px;
}

.chatBtn {
  background-color: #36c389;
  width: 50px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #36c389;
  color: white;
  border-radius: 10px; 
  align-self: right;
  float: right;
  text-align: center;
}

.chatEntry {
  background-color: #BDE4A7;
  color: #0b3b69;
  border: 2px solid #BDE4A7;
  margin: 5px;
}


/* ************************************************************************************************************************ */
/* buttons section ********************************************************************************************************* */
/* ************************************************************************************************************************ */

/* ------------------------------------------------------------ */

/* buttons at the end of the meeting page */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.endButtons{
  align-items: center;
  text-align: center; 
  background-color: #496469;
  background-color: #0b3b69;
  padding-top: 20px;
  margin-top: 0.5em;
  margin-top: -10px;
}

.saveNotesButton{
  width: 48%; 
  height: 50px;
  background-color: #496469;
  background-color: #0b3b69;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px; 
  margin-bottom: 1.5em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: bolder;
  letter-spacing: 1px;
}

.endMeetingButton{
  width: 48%; 
  height: 50px;
  /* background-color: #ffc673; */
  background-color: #496469;
  background-color: #0b3b69;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px; 
  margin-bottom: 1.5em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: bolder;
  letter-spacing: 1px;
}